.layout {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-area: 
        "sidebar children"
        ;
    ;
    background-image: url("/background.jpg");
    background-size: contain;
}
