.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.deleteIcon {
    color: red;
    cursor: pointer;
}

.top {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}

.top a {
    text-decoration: none;
    padding: 10px 20px;
    color: gray;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}

.tr:nth-child(even) {
    background-color: rgb(255, 255, 255, 0.2);
}

.td {
    padding: 10px 50px;
    font-size: 20px;
}
