.inputRow {
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
}

.input {
    flex: 1;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 0 10px;
    height: 30px;
}

.icon {
    color: var(--color-text-primary);
}