.inputRow {
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
    border-bottom: 2px solid #162938;
}

.inputRow label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input {
    flex: 1;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 0 10px;
    height: 40px;
    color: black;

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.icon {
    color: var(--color-text-primary);
}

.error {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.error p {
    color: var(--error);
    font-weight: 200;
}

