:root {
  --primary-1: #131A2B;
  --body-color: #01091C;
  --primary--1: #1d273e;
  --color-text-primary: #ffffff;
  --background-white: #ffffff;
  --background-dark: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--color-text-primary)
}

body {
  background-color: var(--body-color);
  max-width: 1440px;
}

a {
  color: inherit;
  text-decoration: none;
}
