.container {
    display: grid;
    grid-template-columns: minmax(200px, 200px);
    grid-template-rows: 50px 1fr 50px;
    gap: 20px;
    max-width:200px ;
    height: 100vh;
    background-color: var(--primary-1);
}

.top {
    height: 50px;
    width: 100%;
    background-color: var(--primary--1);
}

.nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.menuItem {
    padding: 10px;
    cursor: pointer;
}

.menuItem:hover {
    background-color: var(--primary--1);
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-text-primary);
    text-align: center;
    padding: 10px;
    opacity: 0.8;
}

.name:hover {
    opacity: 0.5;
}

.icon {
    color: var(--color-text-primary);
}

.red {
    color: red;
}

.white {
    background-color: var(--background-white);
}